@page
@model IndexModel
@{
    ViewData["Title"] = "Docker Compose sample";
}

<div class="text-center">
    <h1 class="display-4">Docker Compose | Sample</h1>
    <p>multi-container .net apps solution (web + api) using Docker Compose</p>

    <p>
        Api Data: Return value from call to local continer(GET 'http://api:5000/Random')<br />
        <b> @Model.MessageApiData </b>
    </p>

    <p>
        PubSub: Call dapr pub/sub(POST 'http://localhost:3500')<br />
        <b> @Model.MessagePubSub </b>
    </p>

    <p>
        Redis: Call Redis Cache<br />
        <b> @Model.MessageRedis </b>
    </p>



    <p>Learn more:

    <p><a href="https://docs.microsoft.com/en-us/visualstudio/containers/tutorial-multicontainer?view=vs-2019">Tutorial:
            Create a multi-container app with Docker Compose</a></p>

    <p><a href="https://www.docker.com/">Docker</a></p>

    <p><a href="https://docs.docker.com/compose/">Docker Compose</a></p>

    <p><a
            href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose">Docker
            Compose (docs.microsoft.com)</a></p>

    <p><a
            href="https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/">Designing
            and Developing Multi-Container and Microservice-Based .NET Applications</a></p>

    <p><a href="https://github.com/dapr/samples/tree/master/hello-docker-compose">Dapr with Docker Compose</a></p>

    <p><a href="https://github.com/dotnet/tye">Project Tye</a></p>

    <p><a href="https://github.com/martinesmann/docker-net-sample">This sample code (github)</a></p>


</div>
